<div class="container full-page center=items full-page-padding">
    <app-logopanel></app-logopanel>
    <app-block-items 
        (selectedBlockEvent)="setSelectedBlockItem($event)" 
        [scrollHeight]="scrollHeight" 
        [blockItems]="blockItems"></app-block-items>
</div>

<div [id]="'block-details-' + blockItem.blockID" *ngFor="let blockItem of blockItems" class="full-page features-panel">
    <app-feature [blockItem]="blockItem"></app-feature>
</div>

<app-scroll-to-top (windowScrollPositionEvent)="setScrollHeight($event)"></app-scroll-to-top>
<router-outlet />